# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
pip-wheel-metadata/
*.log
.DS_Store
.idea/
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.~

src/data/fer2013.csv
src/test/
/models/cnn_small_silu_10ep_32/
/models/cnn_small_silu_10ep/
/models/cnn_small_relu/
/models/cnn_small_elu/
/datasets/
/models/cnn_small_100ep/
/models/cnn_small_50ep/
