# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
pip-wheel-metadata/
*.log
.DS_Store
.idea/
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.~

datasets/
src/data/fer2013.csv
models_123/
models_109/
models/
models_compare/
src/test/